.tahoma-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

.course-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}
.course-nature{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 15px;
    margin-top: 2px;
}

.course-objective{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 250px;
    font-size: 13px;
}
.start-course-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 5px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.sales{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 23px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 2px;
}

.end-of-sales{
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 5px;
    color: rgb(182, 3, 3);
    margin-top: 0px;
}

.shop{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.to-know{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.link{
    text-align: center;
    color: blue;
    
}

.link:hover{
    text-decoration: underline;
}