.square{
    background-color: red;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.circle{
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.container{
    border: 1px solid black;
    height: 100px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.container1{
    background-color:  rgb(46, 42, 42);
    height: 120px;
    width: 350px;
    display: inline-block;
    padding-left: 10px;
    border: 1px solid gray;
}

.title{
        color: white;
        font-size: 20px;
        font-weight: bold;
}

.title-phrase{
        color: rgb(173, 168, 168);
        font-size: 15px;
        font-weight: bold;
        width:330px;
}