.amazon-link{
    color: rgb(0, 112, 112);
    transition: color 0.15s;
}

.amazon-link:active{
        color: rgb(105, 69, 2);

    }  

.shoe-title{
    
    font-size: 20px;
    font-weight:bold;

}



/* price button */
.price{
    font-size: 18px;
    color: rgb(0, 116, 0);
    font-weight:bold;
}


.free-delivery{
    font-size: 18px;
}
        /* Amazon add cart button */
.add-cart-button{
    background-color: rgb(255, 208, 15);
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.15s, opacity;
}


.add-cart-button:hover{
        background-color: rgb(240, 195, 15);
    }    

    .add-cart-button:active{
        opacity: 0.6;
    }    

/* Amazon */
.buy-now-button{
    background-color: rgb(255, 166, 20);
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: bold;
}

.buy-now-button:hover{
        background-color: rgb(216, 138, 13);
    }    

    .buy-now-button:active{
        opacity: 0.5;
    }