/*  body{
            padding-right:100px;
        }
 */
 .overlay{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.box{
    background-color: white;
    border: 1px solid black;
    width: 400px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    position: fixed;
    right: 50;
    bottom: 50;
    z-index: 100;
}

.right-sidebar{
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    /* z-index: 100px; */
    
}


.model{
    margin-left: 10px;
    font-weight: bold;
}



button{
    background-color: rgb(245, 241, 241);
    margin-left: 10px;
    border-radius: 5px;
    border-width: 1px;
}