         /* google search box */

         .google-main-box{
            text-align: center;
        }

        .container-search-box{
            text-align: center;
            margin-right: 40px;
            margin-left: 50px;
        }

        .goggle-image{
            width: 300px;
            object-fit: contain;
            object-position: center;
            margin-top: 100px;               
        }

        .button-container{
            text-align: center;
        }

        .goggle-search-box{
            width: 400px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 80px;
            padding-left: 10px;
            border: none;
            box-shadow: 0px 0px 5px gray;
            border-radius: 50px;
            
            
        }


        /* google buttons */
        button{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
            border: none;
        }
            /* search bar */

        .google-search-button{
            margin-top: 20px;
            text-align: center;
            display: inline-block;    
        }

        .google-feeling-button{
            margin-top: 20px;
            text-align: center;
            display: inline-block;
            margin-left: 20px;
        }