.container{
    width: 400px;
    border: none;
    padding-bottom: 20px;
    padding-right: 15px;
    box-shadow: 1px 2px 5px gray;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.inbox{
    color: gray;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

/* .image-container{
    margin-right: 10px;
} */

.profile-image{
    /* margin-top: 0px; */
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;    

}

.text-content{
         flex: 1;
    }

    div{
        font-family: Arial, Helvetica, sans-serif;
    }
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    }


.profile-name{
    font-weight: bold;
    font-size: 20px;
  
}

.time{
    
    color: gray;
}

.service-render{
    font-weight: bold;
}

.comment{
    color: gray;
}