body{
    height: 3000px;
}

.box{
    background-color: gray;
    height: 100px;
    width: 200px;
    position: fixed;
    right: 5px;
    top: 20px;
}


.box2{
    background-color: gray;
    height: 100px;
    width: 200px;
    position: fixed;
    right: 10px;
    top: 200px;
}

.cancel{
    background-color: black;
    color: white;
    position: absolute;
    height: 20px;
    border-radius: 10px;
    /* padding: 5px 5px; */
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    left: -8px;
    top: -12px;

}

.time{
    background-color: black;
    color: white;
    font-size: 10px;
    position: absolute;
    padding: 4px 5px;
    right: 8px;
    bottom: 10px;

}