/* By Ojo Yusuf Abdulazeez
        6/5/2024 
        Part of facebook page i designed
        */
        body{
            height: 3000px;
        }

        .header{
            background-color: black;
            height: 80px;
            display: flex;
            left: 0;
            right: 0;
            top: 0;
            position:fixed;
            justify-content: space-between;
            align-items: center;
        }

        .box{
            padding-left: 50px;
            display: flex;
            align-items: center;
        }
        
        .profile-image{
            height: 30px;
            width: 30px;
            object-fit: cover;
            border-radius: 30px;
            margin-right: 10px;
            flex: 1;
        }

        .profile-name{
            color: white;
        }

        .button{
            padding-right: 40px;
        }

        .add-friend-button{
            background-color: rgb(28, 98, 228);
            color: white;
            padding: 5px 10px 5px 10px;
            margin-left:5px;
            border: none;
            border-radius: 3px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .message-button{
            background-color: rgb(238, 234, 234);
            padding: 5px 10px 5px 10px;
            margin-left:5px;
            border: none;
            border-radius: 3px;
            margin-bottom: 5px;
            cursor: pointer;
        }