 /* Uber */
 .request-button{
    background-color: rgb(15, 15, 15);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.request-button:hover{
    opacity: 0.8;
}

/* Amazon */
.add-cart-button{
    background-color: rgb(236, 193, 1);
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.15s;
}


.add-cart-button:hover{
    background-color: rgb(255, 208, 0);
}

/* Github */
.sign-up-button{
    background-color: rgb(28, 124, 28);
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    border-radius: 5px;
    margin-right: 8px;
    cursor: pointer;
    transition: opacity 0.15s;
}


.sign-up-button:hover{
    box-shadow: 1px 1px 0.90px rgba(0, 0, 0, 0.459);
}


/* Bootsrap */
.get-button{
    background-color: rgb(168, 16, 168);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}



.get-button:hover{
    background-color: rgb(143, 57, 143);
    color: white;
}

/* Bootstrap */
.download-button{
    background-color: white;
    color: black;
    border: solid 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}



.download-button:hover{
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
}


/* LinkedIn */
.apply-button{
    background-color: rgb(36, 67, 206);
    color: white;
    border: solid 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    border-radius: 16px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.apply-button:hover{
    background-color: rgb(9, 37, 163);
}


.save-button{
    background-color: white;
    color: rgb(36, 67, 206);
    border: solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 8px;
    border-radius: 16px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.save-button:hover{
    background-color: rgb(227, 229, 236);
    border-style: solid;
    border-width: 2px;

}