.image1{
    height: 100px;
    width: 130px;
    border-radius: 10px;
    margin-right: 15px;
}

.image2{
    height: 100px;
    width: 120px;
    border-radius: 1px;
    margin-right: 15px;
}

.image3{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}