.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(212, 205, 205);
}

.list, .num{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.list{
    margin-left: 12px;
    font-weight: 600;
}
/*    .num{
    display: flex;
    flex-direction: column;
    flex: 1;
} */

.number{
        background-color: rgb(30, 100, 230);
        color: white;
        padding-top: 2px;
        padding-left: 4px;
        border-radius: 10px;
        margin-right: 12px;
      /*   height: 20px;
        flex: 1;
         */
    }

    .home-number{
        background-color: rgb(30, 100, 230);
        color: white;
        padding: 10px 10px;
        border-radius: 20px;
        margin-right: 12px;
       /*  height: 20px;
        flex: 1; */
    }