        /* google search box */

        .google-main-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .goggle-image{
            width: 300px;
            object-fit: contain;
            object-position: center;
            margin-top: 100px;
            margin-bottom: 20px;
                 
            
        }

        .button-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
        }

        .goggle-search-box{
            width: 400px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 10px;
            border: none;
            box-shadow: 0px 0px 5px gray;
            border-radius: 50px;
        }

        .google-feeling-button{
            margin-left: 20px;
        }

        button{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-weight: bold;
            border: none;
        }

        