body{
    margin: 0px;
}
.nav-bar-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  /*   justify-content: space-between; */
    align-items: center;
    height: 60px;
}

.right-navbar{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-left: 20px;
    margin-right: 40px;
    flex: 1;
}

.home-icon{
    width:40px ;
    object-fit: cover;
    padding-right: 20px;
}

.youtube-icon{
    width:120px;
    object-fit: cover;
    
}




.middle-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    flex: 2;
    shape-margin: 300px;

}

.search{
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.search-button{
    width: 50px;
    height: 35px;
    vertical-align: top;
    margin-left: -6px;
    padding-top: 8px;
    padding-bottom: 10px;
/*             border: none;
    border-radius: 3px; */
    box-shadow: 0px 0px 0px gray;
}

.search-button-image{
    width: 20px;
    object-fit: cover;
}

.voice-icon{
    width: 20px;
    object-fit: cover;
   /*  vertical-align: middle; */
    margin-left: 6px;
    background-color: rgb(245, 237, 237);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 20px;
}



.left-navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex: 1;
}

.upload-icon{
    width:20px;
    object-fit: cover;
    
}

.youtube-apps-icon{
    width:20px ;
    object-fit: cover;
}


.notification-icon{
    width:20px;
    object-fit: cover;
    
}

.profile-icon{
    width:40px ;
    object-fit: cover;
}