.search-bar{
    /* vertical-align: top; */
    margin-top: 3px;
    display: block;
    margin-bottom: 15px;
    padding: 8px 8px 8px 8px;
    font-size: 15px;
}

.container1{
width: 230px;
display: inline-block;
vertical-align: top;
margin-right: 2px;
margin-left: 2px;

}

.image1{
width: 200px; 
     
}

.profile-image-box{
width: 300px;
}

.profile-image{
width: 30px;
border-radius: 15px;
margin-bottom: 3px;
vertical-align: top;
}

.topic{
margin-bottom: 0px;
font-size: 12px;
width: 200px;
font-weight: bold;
display: inline-block;
vertical-align: middle;
}

.profile-name{
font-size: 12px;
width: 100px;
color: rgb(202, 196, 196);
margin-left: 30px;
}

.video-view{
font-size: 12px;
width: 145px;
color: rgb(202, 196, 196);
margin-top: 3px;
margin-left: 30px;
}